---
export interface Props {
  url: string;
}
const { url } = Astro.props;
---

<a
  href={url}
  rel="noopener nofollow"
  target="_blank"
  class="inline-flex bg-gradient-to-r from-indigo-500 via-purple-500 to-fuchsia-400 hover:from-indigo-700 hover:via-purple-700 hover:to-fuchsia-600  w-full items-center rounded-full transition-all leading-loose px-4 py-2 text-2xl font-bold text-white  shadow-lg  "
>
  <slot />
</a>
